<div class="container">
  <div class="row">
    <h2>ログイン</h2>
  </div>
  <!--form_withに変更-->
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
  <div class="row">
    <div class="col field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>
  <div class="row">
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  </div>
  <% end %>
  <div class="row">
    新規登録がまだの方は<%= link_to"こちら", "/users/sign_up" %>から登録
  </div>
</div>

